.inline {
  width: 100%;
  text-align: center;
}
.center {
  text-align: center;
}

.wrapper-date {
  border-radius: 20px;
  background: rgb(242, 242, 242);
  border: none;
  padding: 20px;
  margin: 10px 0px;
}
.selectDate {
  margin-left: 40px;
}
.background-color-notes {
  background-color: rgb(53, 120, 229);
  color: white;
}
.title-navbarFacebook {
  color: #faad14;
  font-size: 20px;
}
.colorWhite {
  color: white;
}
