.breadcrumbs {
    font-size: 16px;
    margin: 5px 0 16px;
}

.icon-home {
    color: #009cd7;
    font-size: 16px;
}

.details {
    color: #000;
    background: #fff;
    padding: 20px;

    h1 {
        font-weight: 700;
        margin-bottom: 10px;
        font-size: 36px;
    }
}