.title-reportPage{
    text-decoration: underline;
    color:#1890ff; 
    display: inline-block;
    font-weight: 700;
    font-size: 19px;
}
.title-item{
    display: inline-block;
    font-size: 18px;
    margin-left: 30px;
}
.limit{
    display: inline-block;
}
.slect{
    margin-left: 50px;
}
.settingTable{
    background-color: #1890ff !important;
}
.textSetting{
    color: white;
    font-weight: 500;
}
.iconReportPage{
    margin: 0 10px;
    font-size: 20px;
    color: rgba(0,0,0,.54);
}
.styleText{
    font-weight: 600;
    font-size: 18px;
}
.diary{
    margin-bottom: 0;
    font-weight: 600;
    font-size: 18px;
}