.header-notification {
  height: 40px;
  width: 40px;
  background: linear-gradient(343.3deg, #009ca9 10.34%, #2ccfdd 88.46%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 12px;
}

.message {
  width: 367px;
  height: 468px;
  background: #FFFFFF;
  /* box-shadow: 4px 16px 32px rgba(0, 0, 0, 0.08); */
  border-radius: 8px;
}

.message-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding: 0 16px;

}

.message-header>span {
  color: #0e0841;
  font-family: "Roboto-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.message-content {
  height: calc(100% - 56px);
  display: flex;
  align-items: center;
  justify-content: center;
}