.iconFacebook {
  width: 50px;
  height: 50px;
  margin: 0 10px;
  cursor: pointer;
}
.like {
  width: 90px;
  height: 90px;
  cursor: pointer;
}
.text-item {
  position: relative;
  top: 50%;
  transform: translateY(25%);
}
.tim {
  width: 70px;
  height: 70px;
  cursor: pointer;
}
.selectIcon {
  margin-top: 40px;
  transform: translateY();
}
.wraper-coin {
  padding: 20px;
  background: #d7fbe8;
  border-radius: 35px;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  margin: 20px 0px;
}
.pagination {
  background-color: #1890ff !important;
}
.cardFacebook {
  border: 0 !important;
  margin: 12px 0 !important;
}
.buttonFacebook {
  background-color: #f2f2f2 !important;
}
.styleText-NavbarFacebook {
  line-height: 1.9;
  font-size: medium;
  font-weight: 600;
  font-family: serif;
}

.iconSelect {
  font-size: 30px;
}
.txtLabel {
  font-family: VIEAvantGardeBold;
  font-weight: 700;
  font-size: 1.1rem;
}

.btn-tientrinh {
  background: #3578e5;
  color: white;
  font-size: 1.2rem !important;
  border-radius: 20px !important;
  font-weight: 700 !important;
  margin: 15px 0;
}
.tag-title {
  font-size: 1.2rem;
  font-weight: 700;
}

.image-user {
  width: 150px;
}
.numberFacebook {
  color: cornflowerblue;
  font-size: 20px;
}
.title {
  color: aliceblue;
  font-size: larger;
  font-weight: 700;
}
