.wrraper-ScrewMoney {
  width: 90%;
  margin: 0 20px;
  border-radius: 20px;
}
.noteDeal1 {
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
}
.noteDeal2 {
  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}

.noteDeal-item {
  display: inline-block;
  margin: 0;
  font-size: 20px;
  margin-left: 15px;
}
.contact {
  background-color: white;
  margin-bottom: 20px;
  border-bottom-left-radius: 30px;
  padding: 10px;
  font-size: 20px;
  font-weight: 800;
}
.number-ScrewMoney {
  font-size: 20px;
  margin-left: 38px;
  color: #1890ff;
  font-weight: 800;
}
.ml {
  margin-left: 42px;
}
.image-social {
  width: 80%;
  height: 263px;
  border-radius: 15px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.title-imageSocial {
  font-weight: 700;
  font-size: 20px;
}
.wrapercard-social {
  border-radius: 20px !important;
}
.zalo {
  margin-top: 20px;
}
