.background {
  background: url(/banner.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
}

.input-login {
  width: 100%;
}
.remember {
  margin: 0 50px 0 10px;
}

.login-form-button {
  width: 100%;
}
.no-acount {
  margin: 0 80px 0 10px;
}
.wraper-create {
  margin-top: 15px;
}

.none {
  display: none;
}
