.wraper-homeReport{
    margin-top: 30px;
}
.money-HomePage{
    background-color: #f2f2f2;
    width: 30%;
    display: inline-block;
    margin: 0px 18px;
    border-radius: 10px;
    text-align: right;
    
}
.reportMoney-HomePage{
    display: inline-block;
    text-align: right;
}
.once{
    margin-left: 6px;
}
.wrraper-datePicker{
    text-align: right;
    margin-bottom: 20px;
}
.datePicker{
    height: 40px;
    padding: 6px 11px;
    font-size: 16px;
}
.lastChild{
    margin-right: 0px;
}
.lastReport{
    margin-right: 0px;
}
.alignTitle{
    text-align: left;
}