.changeWithSelect{
    width: 60% ;
    border-radius: 20px ;
}
.titleSearch{
    font-size: 18px;
    font-weight: 600;
    margin-right: 16px;
}
.mrRefundLogs{
    margin-left: 700px;
}
.ant-select-selection{
    border-radius: 20px !important;
}