.add-button{
    padding: 12px 24px 0 24px;
    display: flex;
    justify-content: flex-end;
    .ant-btn-primary{
        background-color:#ecaa34 ;
        border: none;
    }
    .ant-btn-primary:hover{
        background-color:#ecaa34 !important ;
    }
    .ant-btn-primary:hover, .ant-btn-primary:focus{
        border-color:#ecaa34;    
        background-color:#ecaa34 !important ;
    }
    .ant-btn-primary:hover{
        background-color:#f38a0a;
        transform: translate(-10px);
    }
}